In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Mounted at /content/drive

In [ ]:
# Cargar los archivos XLSX (NACHO)
#contratos_df = pd.read_excel('/content/drive/MyDrive/IFTS/MINERIA/GPTTP2/Contratos.xlsx')
#dolar_df = pd.read_excel('/content/drive/MyDrive/IFTS/MINERIA/GPTTP2/Dolar.xlsx')
#ticket_df = pd.read_excel('/content/drive/MyDrive/IFTS/MINERIA/GPTTP2/Ticket.xlsx')
#empresas_df = pd.read_excel('/content/drive/MyDrive/IFTS/MINERIA/GPTTP2/Empresas.xlsx')

In [ ]:
# Cargar los archivos XLSX (KAREN)
contratos_df = pd.read_excel('/content/drive/MyDrive/TP Modelizado/Contratos.xlsx')
dolar_df = pd.read_excel('/content/drive/MyDrive/TP Modelizado/Dolar.xlsx')
ticket_df = pd.read_excel('/content/drive/MyDrive/TP Modelizado/Ticket.xlsx')
empresas_df = pd.read_excel('/content/drive/MyDrive/TP Modelizado/Empresas.xlsx')

# **TIPO DE CONTRATO PARA UN CLIENTE EN UNA FECHA DETERMINADA**

-- 1. Búsqueda de tipo de contrato para un cliente en cierta fecha

In [ ]:
# Convertir a tipo fecha las columnas necesarias en contratos_df
contratos_df['FechaInicio'] = pd.to_datetime(contratos_df['FechaInicio'], errors='coerce')
contratos_df['FechaFin'] = pd.to_datetime(contratos_df['FechaFin'], errors='coerce')

# Parámetros de búsqueda (MODIFICAR SEGÚN SE REQUIERA PARA LA CONSULTA)
empresa_id = 4
mes = 2
anio = 2023

# Definir el rango de fechas
fecha_inicio = pd.to_datetime(f'{anio}-{mes}-01')
fecha_fin = fecha_inicio + pd.offsets.MonthEnd(1)

# Filtrar el DataFrame para encontrar el contrato correspondiente
resultado_contratos = contratos_df[
    (contratos_df['EmpresaID'] == empresa_id) &
    (contratos_df['FechaInicio'] <= fecha_fin) &
    ((contratos_df['FechaFin'].isna()) | (contratos_df['FechaFin'] >= fecha_inicio))
]

# Realizar un merge para incluir el nombre de la empresa
resultado_contratos = resultado_contratos.merge(empresas_df[['EmpresaId', 'EmpresaNombre']],
                                                  left_on='EmpresaID',
                                                  right_on='EmpresaId',
                                                  how='left')

# Mostrar el resultado incluyendo el nombre de la empresa y el ContratoID
print(resultado_contratos[['ContratoID', 'EmpresaID', 'EmpresaNombre', 'NombreContrato', 'FechaInicio', 'FechaFin', 'Activo', 'Version']])

  ContratoID  EmpresaID EmpresaNombre NombreContrato FechaInicio   FechaFin  \
0       3684        4.0      NOVATIUM         Ticket  2023-01-01 2023-06-30

   Activo  Version
0     0.0     47.0

# **Listado de todas las empresas en base a un mes y un año**

-- 2. Listado de todas las empresas en base a un mes y un año

In [ ]:
# Convertir a tipo fecha las columnas necesarias en contratos_df
contratos_df['FechaInicio'] = pd.to_datetime(contratos_df['FechaInicio'], errors='coerce')
contratos_df['FechaFin'] = pd.to_datetime(contratos_df['FechaFin'], errors='coerce')

# Parámetros de búsqueda (MODIFICAR SEGÚN SE REQUIERA PARA LA CONSULTA)
mes = 2
anio = 2024

# Definir el rango de fechas
fecha_inicio = pd.to_datetime(f'{anio}-{mes}-01')
fecha_fin = fecha_inicio + pd.offsets.MonthEnd(1)

# Filtrar el DataFrame para encontrar todas las empresas en el rango de fechas
resultado_empresas = contratos_df[
    (contratos_df['FechaInicio'] <= fecha_fin) &
    ((contratos_df['FechaFin'].isna()) | (contratos_df['FechaFin'] >= fecha_inicio))
].sort_values(by='EmpresaID')

# Realizar un merge para incluir el nombre de la empresa
resultado_empresas = resultado_empresas.merge(empresas_df[['EmpresaId', 'EmpresaNombre']],
                                                  left_on='EmpresaID',
                                                  right_on='EmpresaId',
                                                  how='left')

# Mostrar el resultado incluyendo el nombre de la empresa

#print(resultado_empresas[['EmpresaID', 'EmpresaNombre', 'NombreContrato', 'FechaInicio', 'FechaFin']]) <---- KAREN: Cambie esto

print(resultado_empresas[['EmpresaID', 'EmpresaNombre', 'TipoContrato', 'FechaInicio', 'FechaFin', 'Activo', 'Version']])

    EmpresaID     EmpresaNombre  TipoContrato FechaInicio FechaFin  Activo  \
0         1.0         NARANJA X           1.0  2024-01-01      NaT     1.0
1         2.0            MAPFRE           2.0  2024-01-01      NaT     1.0
2         3.0            CRESUD           2.0  2024-01-01      NaT     1.0
3         4.0          NOVATIUM           2.0  2024-01-01      NaT     1.0
4         5.0             CyCSA           2.0  2024-01-01      NaT     1.0
..        ...               ...           ...         ...      ...     ...
75       76.0             ALSEA           2.0  2024-01-01      NaT     1.0
76       77.0    BCO. SANTANDER           2.0  2024-01-01      NaT     1.0
77       78.0             TIMBO           1.0  2024-01-01      NaT     1.0
78       79.0     Novatium Maza           1.0  2024-01-01      NaT     1.0
79       80.0  Novatium Rondeau           2.0  2024-01-01      NaT     1.0

    Version
0      49.0
1      49.0
2      49.0
3      49.0
4      49.0
..      ...
75     49.0
76     49.0
77     49.0
78     49.0
79     49.0

[80 rows x 7 columns]

# **Conteo de contratos de cada tipo en un mes y año**

-- 3. Conteo de contratos de cada tipo en un mes y año

In [ ]:
# Convertir a tipo fecha las columnas necesarias en contratos_df
contratos_df['FechaInicio'] = pd.to_datetime(contratos_df['FechaInicio'], errors='coerce')
contratos_df['FechaFin'] = pd.to_datetime(contratos_df['FechaFin'], errors='coerce')

# Parámetros de búsqueda (MODIFICAR SEGÚN SE REQUIERA PARA LA CONSULTA)
mes = 7
anio = 2023

# Definir el rango de fechas
fecha_inicio = pd.to_datetime(f'{anio}-{mes}-01')
fecha_fin = fecha_inicio + pd.offsets.MonthEnd(1)

# Filtrar el DataFrame para contar los contratos de cada tipo en el rango de fechas
conteo_contratos = contratos_df[
    (contratos_df['FechaInicio'] <= fecha_fin) &
    ((contratos_df['FechaFin'].isna()) | (contratos_df['FechaFin'] >= fecha_inicio))
].groupby(['TipoContrato', 'NombreContrato']).size().reset_index(name='ConteoContratos')

# Ordenar el resultado por TipoContrato y NombreContrato
conteo_contratos = conteo_contratos.sort_values(by=['TipoContrato', 'NombreContrato'])

# Mostrar el resultado final de la sumatoria total de contratos por tipo
print(conteo_contratos)

   TipoContrato NombreContrato  ConteoContratos
0           1.0       Servicio               39
1           2.0         Ticket               41

# **Consultas de facturación**

FACTURACION EN PESOS Y EN DOLARES PARA UNA EMPRESA EN UN TIEMPO DETERMINADO

In [ ]:
# Parámetros de búsqueda (MODIFICAR SEGÚN SE REQUIERA PARA LA CONSULTA)
# FECHA DE CONSULTA ('aaaa-mm-dd')
fecha_desde = '2019-01-01'
fecha_hasta = '2021-12-31'
empresa_id = 1

# Filtrar los tickets según la fecha de cierre y el ID de empresa
ticket_df['TicketFechaCierre'] = pd.to_datetime(ticket_df['TicketFechaCierre'])  # Asegurar que es de tipo datetime
tickets_filtrados = ticket_df[
    (ticket_df['TicketFechaCierre'] >= fecha_desde) &
    (ticket_df['TicketFechaCierre'] <= fecha_hasta) &
    (ticket_df['EmpresaId'] == empresa_id)
]

# Unir con la tabla de dólares para obtener la conversión a dólares
# Aseguramos que ambas fechas sean del mismo tipo para la unión
dolar_df['Fecha'] = pd.to_datetime(dolar_df['Fecha'])
tickets_dolar = tickets_filtrados.merge(
    dolar_df,
    left_on=tickets_filtrados['TicketFechaCierre'].dt.date,
    right_on=dolar_df['Fecha'].dt.date,
    how='left'
)

# Unir con la tabla de empresas para obtener el nombre de la empresa
tickets_completos = tickets_dolar.merge(
    empresas_df,
    left_on='EmpresaId',
    right_on='EmpresaId',
    how='left'
)

# Calcular los valores de facturación en pesos y en dólares
tickets_completos['TotalFacturadoPesos'] = tickets_completos['Valor']
tickets_completos['TotalFacturadoDolares'] = tickets_completos['Valor'] / tickets_completos['ValorDolar']

# Agrupar por nombre de empresa y calcular las métricas
resultado = tickets_completos.groupby('EmpresaNombre').agg(
    CantidadTickets=('TicketId', 'count'),
    TotalFacturadoPesos=('TotalFacturadoPesos', 'sum'),
    TotalFacturadoDolares=('TotalFacturadoDolares', 'sum')
).reset_index()

# Agregar las fechas de inicio y fin de la consulta
resultado['FechaDesde'] = fecha_desde
resultado['FechaHasta'] = fecha_hasta

# Mostrar el resultado
print(resultado)

  EmpresaNombre  CantidadTickets  TotalFacturadoPesos  TotalFacturadoDolares  \
0     NARANJA X             2325           74742500.0           1.139375e+06

   FechaDesde  FechaHasta
0  2019-01-01  2021-12-31

# **Consulta que valida periodo del contrato**

In [ ]:
# Convertir a tipo fecha las columnas necesarias
ticket_df['TicketFechaApertura'] = pd.to_datetime(ticket_df['TicketFechaApertura'], errors='coerce')
ticket_df['TicketFechaCierre'] = pd.to_datetime(ticket_df['TicketFechaCierre'], errors='coerce')
contratos_df['FechaInicio'] = pd.to_datetime(contratos_df['FechaInicio'], errors='coerce')
contratos_df['FechaFin'] = pd.to_datetime(contratos_df['FechaFin'], errors='coerce')

# Filtrar tickets que están cerrados
tickets_filtrados = ticket_df[ticket_df['TicketFechaCierre'].notnull()]

# Realizar un merge entre tickets y contratos basado en la EmpresaId y las fechas
resultado = (
    tickets_filtrados
    .merge(contratos_df, left_on='EmpresaId', right_on='EmpresaID', how='inner', suffixes=('', '_contrato'))
    .loc[lambda df: (df['TicketFechaCierre'] >= df['FechaInicio']) &
                (df['TicketFechaCierre'] <= df['FechaFin'].fillna(pd.Timestamp('now')))]
)

# Realizar un merge para obtener el nombre de la empresa
resultado = resultado.merge(empresas_df[['EmpresaId', 'EmpresaNombre']], left_on='EmpresaId', right_on='EmpresaId', how='inner')

# Seleccionar las columnas finales deseadas, usando la columna 'ContratoID' correcta
resultado_final = resultado[['TicketId', 'TicketFechaApertura', 'TicketFechaCierre', 'ContratoID', 'EmpresaNombre', 'FechaInicio', 'FechaFin']]

# Mostrar el resultado en un DataFrame
df_resultado = pd.DataFrame(resultado_final)

# Mostrar el DataFrame
df_resultado

,TicketId,TicketFechaApertura,TicketFechaCierre,ContratoID,EmpresaNombre,FechaInicio,FechaFin
0,1,2008-12-09 13:23:20.250,2008-12-09 21:02:18.653,1362.0,MAPFRE,2008-07-01,2008-12-31
1,2,2008-12-11 13:58:17.513,2008-12-16 17:21:37.013,1362.0,MAPFRE,2008-07-01,2008-12-31
2,3,2008-12-11 17:24:58.890,2009-01-19 18:00:57.467,1362.0,MAPFRE,2009-01-01,2009-06-30
3,4,2008-12-12 09:17:52.483,2008-12-12 13:29:03.123,1361.0,NARANJA X,2008-07-01,2008-12-31
4,5,2008-12-12 11:05:54.170,2008-12-12 18:52:45.450,1362.0,MAPFRE,2008-07-01,2008-12-31
...,...,...,...,...,...,...,...
24308,24475,2024-08-01 17:21:41.320,2024-08-08 14:06:22.820,3841.0,NARANJA X,2024-01-01,NaT
24309,24477,2024-08-02 17:22:51.623,2024-08-06 17:37:07.873,3841.0,NARANJA X,2024-01-01,NaT
24310,24480,2024-08-05 16:44:34.143,2024-08-06 17:04:40.140,3841.0,NARANJA X,2024-01-01,NaT
24311,24481,2024-08-05 16:48:07.600,2024-08-08 16:36:35.673,3841.0,NARANJA X,2024-01-01,NaT
24312,24482,2024-08-05 17:16:13.797,2024-08-05 17:17:16.270,3841.0,NARANJA X,2024-01-01,NaT